/*this is for the form element in the registration*/
#Register {
  width: 300px;
  height: auto;
  border: 5px solid black;
  padding: 10px;
  display: block;
  padding-right: 20px;
  margin-left: 450px;
  text-align: justify
}
@media (min-width: 768px) {
  .container {
    max-width: 576px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 992px;
  }
}

/*.container is for the body for the registration form*/
.container {
  background-color: burlywood;
  font-family: sans-serif;
}

.registration {
  width: 300px;
  height: auto;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  margin-left: 450px;
  text-align: center;
  max-width: 1200px;
}
/* .one is for the heading for the registration form*/
.one {
  text-align: center;
  padding: 20px;
  margin-left: 440px;
  width: 300px;
}

#Register  input{
  display: flex;
  margin-top: 5px;
}


.three {
  padding: 10px;
  text-align: justify;
}
.radio {
  padding-bottom: 20px;
  padding-top: 10px;
  padding-left: 0px;
}

#submit {
  width: 100%;
  margin-top: 10px;
  background-color: skyblue;
}
/* end of registration form css */

#message {
  display: flex;
}
#number {
  display: flex;
}
nav {
  display: flex;
  width: 108.5%;
  height: 120px;
  border: 3px solid purple;
  background-color: aliceblue;
  padding-right: 100px;
}
a {
  padding: 25px;
  width: 300px;
  margin-bottom: 100px;
}

h1 {
  padding-right: 20px;
  padding-left: 20px;
  margin-left: 30px;
  margin-top: 30px;
}

.two {
  border: 3px solid black;
  /*background-image: url(https://static.wixstatic.com/media/11062b_9fe6ab46ac6e4c478b45449f5a66848c~mv2.jpg/v1/fill/w_1039,h_262,al_bl,q_80,usm_0.66_1.00_0.01,enc_auto/11062b_9fe6ab46ac6e4c478b45449f5a66848c~mv2.jpg);*/
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(255, 255, 255, 5);
  width: 116.5%;
  margin-top: 10px;
  padding-left: 20px;
}
h2{
    margin-left: 20px;
}

.shop{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 16px;
    padding-top: 20px;
    justify-content: center;
    margin: 20px;
}

.shop img{
    width: 350px;
    height: 300px;
    border-radius: 10%;
   
}